<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Detail</title>
  </head>
  <body>
    <a href="/">Messages Page</a>
    <p>Message Details</p>
    <h3>User: <%=message.user%></h3>
    <h4>Message: <%=message.text%></h4>
    <h5>Added: <%=message.added%></h5>
  </body>
</html>
